.homeContainer {
  background-color: #fafafa;
  min-height: 100vh;
  padding: 25px 15vw;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev:before,
.slick-next:before {
  color: #8e8f9c !important;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: #111342 !important;
}
