.homeContainer {
  background-color: #fafafa;
  min-height: 100vh;
  padding: 25px 15vw;
}

@media all and (max-width: 1024px) {
  .homeContainer {
    padding: 0;
  }
}

.slick-prev:before,
.slick-next:before {
  color: #8e8f9c !important;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: #111342 !important;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.postsContainer {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 1025px) {
  .smallSlider {
    display: none;
  }
}
@media all and (max-width: 1024px) {
  .postsContainer {
    width: 100vw;
  }
  .largeSlider {
    display: none;
  }
  .smallSlider {
    padding: 10px 20px;
    border-bottom: #cfd1d0;
  }
}

.alert {
  width: 48px;
  height: 48px;
  color: #4094ef;
}

.alertContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alertText {
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.retryButton {
  color: white;
  background-color: #4094ef;
  border: none;
  border-radius: 5px;
  padding: 8px 25px;
}
