.profileLoader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myProfileContainer {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding: 25px 15vw;
  background-color: #fafafa;
}

@media all and (max-width: 1024px) {
  .myProfileContainer {
    padding: 0;
  }
}

.horizontalList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
}

.storiesList {
  margin-top: 50px;
}

@media all and (max-width: 1024px) {
  .storiesList {
    margin-top: 20px;
    margin-left: 4vw;
  }
  .posts-text-icon {
    margin-left: 4vw;
  }
}

.profileStoryListItem {
  list-style-type: none;
  margin-right: 30px;
}
@media all and (max-width: 1024px) {
  .profileStoryListItem {
    margin-right: 15px;
  }
}

.profilePostListItem {
  list-style-type: none;
}

.profileStoryImage {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: 1px #c6c6c8 solid;
  padding: 3px;
}
@media all and (max-width: 1024px) {
  .profileStoryImage {
    width: 64px;
    height: 64px;
  }
}

.postImage {
  width: 22vw;
  height: 22vw;
  margin-bottom: 15px;
}
@media all and (max-width: 1024px) {
  .postImage {
    width: 31vw;
    height: 31vw;
  }
}

.myProfilePostsList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  width: 100%;
  flex-wrap: wrap;
}
@media all and (max-width: 1024px) {
  .myProfilePostsList {
    margin-top: 0;
  }
}

.horizontalLine {
  border-top: #c6c6c8;
  border-width: 2px;
}

.postsText {
  color: #262626;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-left: 15px;
}
@media all and (max-width: 1024px) {
  .postsText {
    font-size: 14px;
    margin-left: 10px;
  }
  .grid-icon {
    width: 15px;
    height: 15px;
  }
}

.noPostsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.camIcon {
  width: 48px;
  height: 45px;
  border-radius: 50%;
  border: 1px black solid;
  padding: 15px;
  box-sizing: content-box;
}

.noPostsText {
  color: #262626;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  margin-top: 15px;
}

.failureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.failureImg {
  width: 560px;
  height: 274px;
}

.failureText {
  color: #262626;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.profileRetryButton {
  color: white;
  background-color: #4094ef;
  border: none;
  border-radius: 5px;
  padding: 8px 25px;
}
