.storyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.storyImg {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.userName {
  color: #262626;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
@media all and (max-width: 1024px) {
  .userName {
    font-size: 13px;
  }
}
