.userProfileContainer {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding: 25px 15vw;
  background-color: #fafafa;
}

.user-profile-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile-failure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-profile-failure-img {
  width: 560px;
  height: 274px;
}

.user-profile-failure-text {
  color: #262626;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.user-profile-retry-button {
  color: white;
  background-color: #4094ef;
  border: none;
  border-radius: 5px;
  padding: 8px 25px;
}

.user-stories-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  margin-top: 50px;
}

.user-profile-storyListItem {
  list-style-type: none;
  margin-right: 30px;
}

.user-profile-storyImage {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: 1px #c6c6c8 solid;
  padding: 3px;
}

.user-profile-horizontal-line {
  border-top: #c6c6c8;
  border-width: 2px;
}

.user-horizontal-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
}

.user-posts-text {
  color: #262626;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-left: 15px;
}

.user-noPostsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.user-camIcon {
  width: 48px;
  height: 45px;
  border-radius: 50%;
  border: 1px black solid;
  padding: 15px;
  box-sizing: content-box;
}

.user-noPostsText {
  color: #262626;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  margin-top: 15px;
}

.userProfilePostsList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  width: 100%;
  flex-wrap: wrap;
}

.userProfilePostListItem {
  list-style-type: none;
}

.userPostImage {
  width: 22vw;
  height: 22vw;
  margin-bottom: 15px;
}
